# Ignore the content of input-image and output-image in both folders
jpg-png-to-webp/input/*
jpg-png-to-webp/output/*
webp-to-jpg/input/*
webp-to-jpg/output/*

# Allow the empty directories to be tracked
!jpg-png-to-webp/input/.gitkeep
!jpg-png-to-webp/output/.gitkeep
!webp-to-jpg/input/.gitkeep
!webp-to-jpg/output/.gitkeep

node_modules/
